.heading{
    font-size: 40px;
    width: 100%;
    background-color:rgb(21, 219, 110);
    color: white;
    font-family: 'Itim', cursive;
    margin: 0;
    text-align: center;
    line-height: 1.5;
}
    
.heading2{
    font-size: 40px;
    width: 100%;
    background-color: rgb(21, 219, 110);
    color: white;
    font-family: 'Cookie', cursive;
    margin: 0;
    text-align: center;
    line-height: 1.5;
}

.heading3{
    font-family: 'Itim', cursive;
    background-color: rgb(250, 4, 37);
    color: white;
    font-size: 30px;
    width: 32%;
    border-radius: 50px;
    height: 45px;
}

input{
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 30px;
    width: 30%;
}